@using WebBlog.Models
@using WebBlog.Services.Iterfaces
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model IPagedList<Blog>
@inject IImageService ImageService

@{
    ViewData["Title"] = "Index";
}

<h1>Index of Blogs</h1>

<p>
    <a asp-action="Create">Create a New Blog</a>
</p>
<table class="table thead-dark">
    <thead>
        <tr>
            <th class="col-2">
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model)
        {
            <tr>
                <td>
                    <img class=" img-fluid img-thumbnail" src="@ImageService.DecodeImage(blog.ImageData, blog.ImageType)">
                </td>
                <td>
                    @Html.Raw(blog.Name)
                </td>
                <td>
                    @Html.Raw(blog.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => blog.Created)
                </td>
                <th>
                    @Html.DisplayFor(model => blog.Updated)
                </th>
                <th>
                    @Html.DisplayFor(model => blog.Id)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@blog.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@blog.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@blog.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!--//main-wrapper-->
@*==== Add Paging Controls Here ====*@

<div class=" =" row"">
    <div class="col h3">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
         new PagedListRenderOptions
         {
             LiElementClasses = new string[] { "page-item" },
             PageClasses = new string[] { "page-link" }
         });
    </div>
</div>

@*===== Subscription Collecting Email ======*@

<section class="cta-section theme-bg-light py-5">
    <div class="container text-center single-col-max-width">
        <h2 class="heading">DevBlog - A Blog Template Made For Developers</h2>
        <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
        <div class="single-form-max-width pt-3 mx-auto">
            <form class="signup-form row g-2 g-lg-2 align-items-center">
                <div class="col-12 col-md-9">
                    <label class="sr-only" for="semail">Your email</label>
                    <input type="email" id="semail" name="semail1" class="form-control me-md-1 semail" placeholder="Enter email">
                </div>
                <div class="col-12 col-md-2">
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </div>
            </form><!--//signup-form-->
        </div><!--//single-form-max-width-->
    </div><!--//container-->
</section>