<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/monokai-sublime.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BelleCoder WebBlog</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/custom.css" rel="stylesheet" />

    <!--JQuery File-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
</head>

<body>
    <header class="header text-center">
        <h1 class="blog-name pt-lg-4 mb-0"><a class="no-text-decoration" href="index.html">Belinda Tiberio</a></h1>

        <nav class="navbar navbar-expand-lg navbar-dark">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigation" class="collapse navbar-collapse flex-column">
                <div class="profile-section pt-3 pt-lg-0">
                    <img class="profile-image mb-3 rounded-circle mx-auto" src="~/images/profile.jpg" alt="image">

                    <div class="bio mb-3">Hi, my name is Belinda Tiberio. I am experienced technical program manager and full-stack developer.<br><a target="_blank" href="https://www.linkedin.com/in/btiberio/">Find out more about me</a></div><!--//bio-->
                    <ul class="social-list list-inline py-3 mx-auto ">

                        <li class="list-inline-item">
                            <a target="_blank" href="#">
                                <i class="fab fa-twitter fa-fw icon-green">
                                </i>
                            </a>
                        </li>

                        <li class="list-inline-item">
                            <a target="_blank" href="https://www.linkedin.com/in/btiberio/">
                                <i class="fab fa-linkedin-in fa-fw icon-green">
                                </i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a target="_blank" href="https://github.com/BelleCode">
                                <i class="fab fa-github-alt fa-fw icon-green">
                                </i>
                            </a>
                        </li>

                        @*===== Dark Mode Switch ======*@
                        <!--<div class="col-12 col-md-auto">
                        <div class="dark-mode-switch d-flex">
                            <div class="form-check form-switch mx-auto mx-md-0">
                                <input type="checkbox" class="form-check-input me-2" id="darkSwitch" />
                                <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                            </div>
                        </div>-->
                        <!--//dark-mode-switch-->
                        <!--</div>-->
                    </ul><!--//social-list-->
                    <hr>
                </div><!--//profile-section-->
                @*<li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "") nav-link" asp-action="Index" asp-controller="Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    @<li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>@
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "") nav-link" asp-action="About" asp-controller="Home">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "BlogIndex" ? "active" : "") nav-link" asp-action="BlogIndex" asp-controller="Blogs">Blogs</a>
                    </li>*@

                <ul class="navbar-nav flex-column text-start">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Home">
                            <i class="fas fa-home fa-fw me-2">
                            </i>Home - Latest Posts
                            <span class="sr-only">
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Blogs">
                            <i class="fas fa-lightbulb fa-fw me-2">
                            </i> Blog Topics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Posts">
                            <i class="fas fa-blog fa-fw me-2">
                            </i> Blog Posts
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://keen-jackson-a4318f.netlify.app/"><i class="fas fa-user fa-fw me-2"></i>About Me</a>
                    </li>
                    <li class="nav-item">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>

                <div class="my-2 my-md-3">
                    <a class="btn btn-primary" href="https://themes.3rdwavemedia.com/" target="_blank">Get in Touch</a>
                </div>
            </div>
        </nav>
    </header>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BelleCoder WebBlog</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Blogs" asp-action="Index">All Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">All Posts</a>
                            </li>
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Blogs" asp-action="Create">Create Posts</a>
                                </li>
                            }
                            @if (User.IsInRole("Moderator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Comments" asp-action="Create">Create Posts</a>
                                </li>
                            }
                        </ul>

                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>
        </header>*@

    @*===== MAIN =====*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Belle Coder WebBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @*===== Javascript Files =====*@
    <script src="~/js/all.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/highlight.min.js"></script>
    <script src="~/js/blog.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- Sweet Alert 2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>