@using WebBlog.Enums
@using WebBlog.Services
@using WebBlog.Services.Iterfaces
@model WebBlog.Models.Post
@inject IImageService ImageService

@{
    ViewData["Title"] = "PostDetails";
}

<h1>Details for the Post</h1>

<div>
    <h4>Here are the details for the Post</h4>
    <hr />
</div>

<form asp-controller="Comments" asp-action="Create">
</form>
@if (User.IsInRole("Administrator"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
<div class="main-wrapper">

    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container single-col-max-width">
            <header class="blog-post-header">
                <h2 class="title mb-2">@Model.Title</h2>
                <div class="meta mb-3"><span class="date">@Model.Created.ToShortDateString()</span><span class="time">5 min read</span><span class="comment"><a class="text-link" href="#">4 comments</a></span></div>
            </header>

            <div class="blog-post-body">
                @Html.Raw(Model.Content)
                <nav class="blog-nav nav nav-justified my-5">
                    <a class="nav-link-prev nav-item nav-link rounded-left" href="#">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                    <a class="nav-link-next nav-item nav-link rounded-right" href="#">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
                </nav>
            </div>
        </div><!--//container-->
    </article>
</div><!--//main-wrapper-->

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Create" asp-controller="Comments" method="post">
            @Html.Hidden("PostId", Model.Id)

            <div class="form-group">
                <label class="h2 custom-control-label font-weight-bold">Add Comment</label>
                <textarea name="body" class="form-control" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-block btn-sm">Submit</button>
        </form>
    }
    else
    {
        <a class="btn ben-block btn-sm btn-dark" asp-area="Identity" asp-page="/Account/login">Login to Add Comments</a>
    }
</div>

<hr />
<span class="btn btn-sm btn-dark btn-block">@Model.Comments.Count COMMENT(S)</span>

@foreach (var comment in Model.Comments)
{
    <div class="media media-border p-0 mb-2 bg-light">
        <img class="mr-3 mt-3 rounded-circle" style="width:60px;" src="@ImageService.DecodeImage(comment.BlogUser.ImageData, comment.BlogUser.ContentType)">
        <div class="media-body">
            <h4>@comment.BlogUser.FullName</h4>
            <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small>
            <p>@comment.Body</p>
        </div>
    </div>
}

@*<dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Abstract)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Abstract)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
    </dl>*@